About unixODBC in this distribution
-----------------------------------

In addition to the unixODBC package itself, you will want to install some
or all of these related packages:

mariadb-connector-odbc  MariaDB driver, needed to connect to MariaDB databases
mysql-connector-odbc	MySQL driver, needed to connect to MySQL databases
postgresql-odbc		PostgreSQL driver, needed to connect to PostgreSQL
unixODBC-gui-qt		Optional configuration management and test programs


The recommended driver definition for MySQL 8 is:

[MySQL]
Description	= ODBC for MySQL 8
Driver		= /usr/lib/unixODBC/libmyodbc8.so
Driver64	= /usr/lib64/unixODBC/libmyodbc8.so
FileUsage	= 1

You can adjust the name (in square brackets) and the description, but
the other items should usually be used verbatim.

The recommended driver definition for PostgreSQL is:

[PostgreSQL]
Description	= ODBC for PostgreSQL
Driver		= /usr/lib/psqlodbcw.so
Setup		= /usr/lib/libodbcpsqlS.so
Driver64	= /usr/lib64/psqlodbcw.so
Setup64		= /usr/lib64/libodbcpsqlS.so
FileUsage	= 1
